.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body.modal-open {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.adress {
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1200;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .clients .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .qualitys .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .command .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .hero .container {
    text-align: center;
  }
  .header .container {
    padding: 0 15px;
  }
  .qualitys .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .command .container {
    width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients .container {
    width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer .container {
    display: block;
    width: 480px;
    height: 603px;
    padding: 60px 15px;
  }
  .projects .container {
    width: 480px;
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  .hero .container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .qualitys .container {
    display: flex;
    width: 768px;
  }
  .command .container {
    width: 768px;
  }
  .clients .container {
    width: 768px;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 768px;
    height: 463px;
    padding: 60px 15px;
  }
  .projects .container {
    width: 768px;
    padding: 60px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .hero .container {
    text-align: center;
  }
  .qualitys .container {
    display: flex;
    width: 1200px;
  }
  .about .container {
    padding-bottom: 94px;
  }
  .command .container {
    width: 1200px;
  }
  .clients .container {
    width: 1200px;
  }
  .footer .container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 252px;
    padding: 60px 15px;
  }
  .projects .container {
    width: 1200px;
    padding: 94px 15px;
  }
}

.logo-color {
  color: #000000;
}

.logo-navigation-list-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .logo-navigation-list-link {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-navigation-list-link {
    font-size: 26px;
    line-height: 31px;
  }
}

.navigation-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 25px;
}

.navigation-btn-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.potfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.potfolio-btn:hover, .potfolio-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .navigation-btn {
    flex-wrap: nowrap;
    padding: 0 63px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-btn {
    justify-content: center;
    margin-bottom: 0;
  }
}

.header {
  position: relative;
  border: 1px solid #eeeeee;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover, .header-link:focus {
  color: #2196f3;
}

.header-link-svg {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin: auto;
  color: #757575;
}

.header-link:hover .header-link-svg {
  fill: #2196f3;
}

.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel-link:hover {
  color: #2196f3;
}

.header-tel-link-svg {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-bottom: 0;
}

.header-tel-link:hover .header-tel-link-svg {
  fill: #2196f3;
}

.nav {
  display: block;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .nav {
    margin-bottom: 0;
  }
  .nav .nav {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    margin-left: 88px;
  }
}

.navigation-list-item:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .navigation-list-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .header .adress .list {
    display: flex;
  }
  .header .adress .list:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header .adress .list .header-link {
    margin-right: 0;
  }
}

.header .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 17px;
}

@media screen and (min-width: 1200px) {
  .header .navigation {
    padding-top: 21px;
    padding-bottom: 23px;
  }
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.item-underline {
  display: inline-block;
  content: "";
  position: relative;
}

.underline:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .underline:after {
    margin-top: 24px;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 400px;
  }
  .menu-container.is-open {
    display: block;
    z-index: 99;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    padding: 0;
    max-height: 80px;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }
  .menu-container .navigation-list {
    display: flex;
  }
  .menu-container .menu-container {
    display: flex;
    box-shadow: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    box-shadow: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-link {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .header-link,
  .header-tel-link {
    color: #757575;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
  }
  .menu-contacts .adress {
    margin-left: 84px;
  }
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-top: 20px;
  padding-left: 24px;
}

.potfolio-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 0px 24px 20px 24px;
}

.projects-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects-item-img {
  overflow: hidden;
  width: 100%;
  height: 294px;
}

.projects-item-img-wrapper {
  position: relative;
  overflow: hidden;
}

.item {
  width: 450px;
  height: 404px;
  border: 1px solid #eeeeee;
  transition-duration: 50ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item:not(:last-child) {
  margin-bottom: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 62px 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: 500ms linear;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  display: flex;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}

.item:hover .overlay {
  display: flex;
  opacity: 1;
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .item {
    width: 354px;
    height: 404px;
  }
  .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .item {
    width: 370px;
    height: 404px;
  }
  .item:nth-last-child(-n + 3) {
    margin-bottom: 30px;
  }
  .projects-item {
    display: flex;
  }
  .projects-item .item {
    margin-right: 26px;
    margin-bottom: 30px;
  }
  .projects-item .item:nth-child(3n) {
    margin-right: 0;
  }
  .projects-item .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .projects-item .item:nth-child(-n + 3) {
    margin-top: 34px;
  }
}

.footer {
  background-color: #2f303a;
  max-width: 1600px;
  margin: 0 auto;
}

.footer-logo-color {
  color: #ffffff;
}

.footer-list {
  display: block;
  flex-direction: column;
  margin-bottom: 60px;
}

.footer-navigation-item {
  margin-bottom: 9px;
}

.footer-navigation-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-navigation-list-link, .footer-tel-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link-item:hover {
  background-color: #2196f3;
}

.footer-social-list-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-social-link {
  display: flex;
}

.footer-contact-form-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  padding: 16px;
  margin-right: 12px;
  margin-bottom: 20px;
}

.footer-email-form {
  display: block;
}

.footer.logo-navigation-list-link {
  margin-right: 0;
}

.adress {
  text-align: center;
}

.adress.logo-navigation-list-link {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

.social-link {
  text-align: center;
  margin-bottom: 60px;
}

.social-link-footer-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.social-link-footer-list {
  display: flex;
  justify-content: center;
}

.email-form {
  text-align: center;
}

.email-form-title {
  height: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.email-form-btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding-left: 29px;
  margin: 0 auto;
  color: #ffffff;
}

.email-form-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/send.svg);
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
  .email-form {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contact-form-input {
    width: 358px;
  }
  .footer-email-form {
    display: flex;
  }
  .email-form-btn {
    margin-left: 0;
  }
  .social-link {
    text-align: left;
  }
  .email-form {
    text-align: left;
  }
  .adress {
    text-align: left;
  }
}
/*# sourceMappingURL=portfolio.css.map */