.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  width: 1600px;
  margin: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.adress {
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1200;
  padding: 0 15px;
  margin: 0 auto;
}

.container .about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.clients .container {
  margin-bottom: 94px;
  width: 1200px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  height: 252px;
  padding: 60px 15px;
}

.container-img {
  position: relative;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  padding: 0 15px;
}

.hero .container {
  text-align: center;
  padding-top: 81px;
}

.qualitys .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  padding-bottom: 94px;
  padding-top: 94px;
}

.projects .container {
  width: 1200px;
  margin-top: 94px;
  margin-bottom: 94px;
}

.command .container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo-color {
  color: #000000;
}

.logo-navigation-list-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}

.navigation-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 94px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation-btn-item:not(:last-child) {
  margin-right: 8px;
}

.potfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.potfolio-btn:hover, .potfolio-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.header {
  position: fixed;
  width: 100%;
  padding: 24px 0 25px 0;
  border: 1px solid #ececec;
  z-index: 1;
  top: 0;
  left: 0;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 43px;
  color: #757575;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover, .header-link:focus {
  color: #2196f3;
}

.header-link-svg {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin: auto;
  margin-right: 10px;
  color: #757575;
}

.header-link:hover .header-link-svg {
  fill: #2196f3;
}

.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel-link:hover {
  color: #2196f3;
}

.header-tel-link-svg {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  margin-bottom: 0;
}

.header-tel-link:hover .header-tel-link-svg {
  fill: #2196f3;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.adress {
  margin-right: 70px;
}

.adress .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .adress {
  margin-left: auto;
}

.item-underline {
  display: block;
  content: "";
  position: relative;
}

.underline:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  margin-top: 27px;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 20px 24px 4px 24px;
}

.potfolio-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px 24px 20px 24px;
}

.projects-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-item .item {
  margin-right: 26px;
  margin-bottom: 30px;
}

.projects-item .item:nth-child(3n) {
  margin-right: 0;
}

.projects-item .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-item .item:nth-child(-n + 3) {
  margin-top: 34px;
}

.projects-item-img-wrapper {
  position: relative;
  overflow: hidden;
}

.item {
  border: 1px solid #eeeeee;
  -webkit-transition-duration: 50ms;
          transition-duration: 50ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 62px 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 500ms linear;
  transition: 500ms linear;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}

.item:hover .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.footer {
  background-color: #2f303a;
}

.footer-logo-color {
  color: #ffffff;
}

.footer-list {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

.footer-navigation-item {
  margin-bottom: 9px;
}

.footer-navigation-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-navigation-list-link, .footer-tel-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link-item:hover {
  background-color: #2196f3;
}

.footer-social-list-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-contact-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  padding: 16px;
  margin-right: 12px;
}

.footer-email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.adress {
  margin-right: 70px;
}

.adress.logo-navigation-list-link {
  display: block;
  margin-bottom: 20px;
}

.social-link-footer-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.social-link-footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email-form {
  margin-left: 93px;
}

.email-form-title {
  width: 219px;
  height: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.email-form-btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding-left: 29px;
  color: #ffffff;
}

.email-form-btn::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/send.svg);
}

.container-email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 570px;
  height: 86px;
}
/*# sourceMappingURL=portfolio.css.map */