.about {
  margin-bottom: 94px;

  &-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 70px;
    width: 370px;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    color: rgb(253, 253, 253);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  &-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.second-title {
  font-family: $main-font;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: $title-light-theme-colour;
  text-align: center;
  padding-bottom: 50px;
}
