.navigation-btn {
  display: flex;
  padding-top: 94px;
  justify-content: center;

  &-item:not(:last-child) {
    margin-right: 8px;
  }
}

.potfolio-btn {
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: $title-light-theme-colour;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #ffffff;
  }
}
