.navigation-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 25px;
  &-item:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

.potfolio-btn {
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: $title-light-theme-colour;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .navigation-btn {
    flex-wrap: nowrap;
    padding: 0 63px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-btn {
    justify-content: center;
    margin-bottom: 0;
  }
}
