.social-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $accent-color;
    }
  }

  &-svg {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .social-list-link:hover & {
      fill: $title-dark-theme-colour;
    }
  }
}
@media screen and (min-width: 480px) {
  .social-list {
    margin-left: 122px;
    margin-right: 122px;
  }
}

@media screen and (min-width: 768px) {
  .social-list {
    margin-left: 74px;
    margin-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .social-list {
    margin-left: 32px;
    margin-right: 32px;
  }
}
