.container {
  outline: 1px solid black;
  width: 1200;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    width: 100%;
    margin: 0 auto;

    .clients & {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;

    .hero & {
      // width: 360px;
      text-align: center;
    }
    .header & {
      position: relative;
      padding: 0 15px;
    }

    .qualitys & {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .command & {
      width: 480px;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .clients & {
      width: 480px;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .footer & {
      display: block;
      width: 480px;
      height: 603px;
      padding: 60px 15px;
    }
    .projects & {
      width: 480px;
      padding: 60px 15px;
      // margin-top: 94px;
      // margin-bottom: 94px;
    }
  }
}

@media screen and (max-width: 479px) {
  .hero .container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;

    .qualitys & {
      display: flex;
      width: 768px;
    }
    .command & {
      width: 768px;
    }
    .clients & {
      width: 768px;
    }
    .footer & {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 768px;
      height: 463px;
      padding: 60px 15px;
    }
    .projects & {
      width: 768px;
      padding: 60px 15px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;

    .hero & {
      text-align: center;
    }
    .qualitys & {
      display: flex;
      width: 1200px;
    }
    .about & {
      padding-top: 94px;
      padding-bottom: 94px;
    }

    .command & {
      width: 1200px;
    }
    .clients & {
      width: 1200px;
    }
    .footer & {
      display: flex;
      justify-content: space-between;
      width: 1200px;
      height: 252px;
      padding: 60px 15px;
    }
    .projects & {
      width: 1200px;
      padding: 94px 15px;
    }
  }
}
// .container {
//   width: 1200;
//   padding: 0 15px;
//   margin: 0 auto;

//   & .about-list {
//     display: flex;
//     width: 1200px;
//     padding: 0 15px;
//     margin: 0 auto;
//   }

//   .clients & {
//     margin-bottom: 94px;
//     width: 1200px;
//   }

//   .footer & {
//     display: flex;
//     width: 1200px;
//     height: 252px;
//     padding: 60px 15px;
//   }

// &-img {
//   position: relative;
// }

//   .header & {
//     display: flex;
//     align-items: center;
//     width: 1200px;
//     padding: 0 15px;
//   }

//   .hero & {
//     text-align: center;
//     padding-top: 81px;
//   }

//   .qualitys & {
//     display: flex;
//     width: 1200px;
//     padding-bottom: 94px;
//     padding-top: 94px;
//   }

//   .projects & {
//     width: 1200px;
//     margin-top: 94px;
//     margin-bottom: 94px;
//   }

//   .command & {
//     width: 1200px;
//     padding: 0 15px;
//     margin: 0 auto;
//   }
// }
